server:
  port: 8081

spring:
    datasource:
        url: jdbc:h2:mem:demo;DB_CLOSE_DELAY=-1
        driver-class-name: org.h2.Driver
    jpa:
        hibernate:
            ddl-auto: update
        open-in-view: true
    security:
      oauth2:
        resourceserver:
          jwt:
            issuer-uri: http://localhost:8080/realms/REALM1

